body{
  background: rgba(0,0,0,0.9);
  margin: 0;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image:url(background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: 1000ms;
  /* padding-bottom: 3rem; */
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.logo {
  height: 180px;
  width: 180px;
}

.title {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}


.text {
  font-size: 1.7rem;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 4rem 1 rem;
  overflow: hidden;
  margin-top: 3rem;
}


.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 0; */
}

.center {
  text-align: center;
  /* margin: auto; */
}

.bg-light {
  background-color: #f4f4f4;
  color: #333 ;
}


.bg-dark {
  background: #333;
  /* opacity: 80; */
  color: #ffffff;
  text-align: center;
}

.grid-2 {
  height: 250px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  padding-left: -80px;
  /* text-align: center; */
  font-size: 20px;
}

footer {
  padding: 2rem;
  font-size: 20px;
}

footer p {
  margin: 0;
}

@media(max-width : 660px) {
  .showcase::after {
    height: 65vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    width: 120px;
    height: 120px;
  }

  .content .text {
    display: none;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 solid 1px;
    padding: 1.2rem 1rem;
  }

  .grid-2 {
    height: 150px;
    /* margin-top: 60px; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 100px; */
    padding-left: -40px;
    text-align: center;
    font-size: 10px;
    overflow: auto;
  }

}

@media(max-height:500px) {
  
  .content .title,
  .content .text {
    display: none;
  }
  .content {
    top: 0;
  }
} 